* {
  font-family: "Anybody", cursive;
}

header {
  display: flex;
  justify-content: space-between;
  color: white;

  padding: 15px;
}

body {
  margin: 0;
  background-color: #15053b;
}

.date-time-widget {
  text-align: right;
  padding: 10px 10px 10px;
  font-size: 18px;
  font-weight: bold;
}

.heading {
  font-size: 50px;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  text-shadow: white 1px 1px;
}

.web-name-area {
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

#pic {
  width: 500px;
  border-radius: 30%;
  padding: 10px 20px;
}

#horoscope-area-container {
  padding: 100px 10px 200px;
}

footer {
  height: 120px;
  background-color: white;
}
