* {
  font-family: "Anybody", cursive;
}

header {
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  background-color: #15053b;
}

.main {
  position: relative;
  overflow: hidden;
}

#background-picture {
  opacity: 0.6;
  z-index: -1;
  position: absolute;
  width: 1600px;
}

.date-time-widget {
  padding: 10px 10px 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.heading {
  font-size: 50px;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  text-shadow: white 1px 1px;
}

#horoscope-area-container {
  padding: 150px 0 200px;
  text-align: center;
}

#birth-date-widget,
#name-field,
#show-button {
  font-size: 15px;
  padding: 20px 50px;
  width: 150px;
  margin: 0 50px;
  text-align: center;
  border-radius: 10px;
}

#show-button {
  width: 235px;
}
#show-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 25px 2px rgba(255, 255, 255, 0.31);
}

footer {
  height: 120px;
  background-color: #15053bcf;
}

/* Second page */
#horoscope-info-container {
  padding: 100px;
  color: white;
  display: flex;
}

#horoscope-widgets-container {
  display: flex;
  justify-content: space-between;
  color: #15053b;
  font-size: 18px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

#horoscope-widgets-container > div {
  background-color: white;
  width: 200px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

#horoscope-description-container {
  display: flex;
  background-color: white;
  color: #15053b;
  flex-wrap: wrap;
}

#horoscope-description-container > div {
  padding: 20px;
  display: flex;
  align-items: center;
}

#sign-pic {
  width: 200px;
}
